.auth {
    width: 631px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 53px 49px;
    background-color: #191919;
    color: white;
    gap: 42px;
  
    h2 {
      font-size: 36px;
      margin: 0;
    }
  
    .form {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;
  
      .input_auth {
        background: none;
        border: none;
        border-bottom: 1px solid white;
        padding: 10px 0;
        color: white;
        font-size: 16px;
        font-weight: 400;
        outline: none;
  
        &::placeholder {
          color: white;
          font-size: 16px;
          font-weight: 400;
        }
      }
  
      button {
        border-radius: 12px;
        width: 100%;
        height: 56px;
        background-color: white;
        color: #191919;
        font-size: 16px;
        font-weight: bold;
        border: none;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #ccc;
        }
      }
  
      p {
        font-size: 15px;
        color: rgba(255, 255, 255, 0.5);
        margin: 0;
  
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  